<div class="text-center flex flex-col align-center justify-center ">
    <div class=" w-full ">
        <img src="assets/images/logo/thinktacLogo_noTagline_colour.svg" class="m-auto " height="180" width="200">
    </div>
    <div
        class="m-auto md:w-[40vw] xs:w-[57vw] md:px-8 xs:px-0 relative p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-4 container ">
        <div class="w-full  py-4 px-4 sm:px-4 sm:py-4  ">
            <p class="mb-2 text-center font-semibold text-xl text-accent-600">Student Registration</p>
            <p class="mb-10 text-center text-accent-600">Please provide the following details</p>
            <form *ngIf="infoForm" class="" [formGroup]="infoForm" (ngSubmit)="onSubmit(infoForm)">
                <div class="flex flex-row items-center justify-center w-full ">
                </div>
                <div class="">
                    <div class="text-left">
                        <mat-label class="text-accent-600 text-left">First Name</mat-label>

                        <mat-form-field class="w-full" appearance="outline">
                            <input matInput [placeholder]="'First name'" [formControlName]="'firstName'">
                            <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="text-left">
                        <mat-label class="text-accent-600 text-left">Last Name</mat-label>
                        <mat-form-field class="w-full" appearance="outline">
                            <input matInput [placeholder]="'Last name'" [formControlName]="'lastName'">
                            <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="w-full text-left">
                        <div [ngClass]="phoneVerification.numberChanged ? 'short' : 'long'">
                            <div>
                                <mat-label class="text-accent-600 text-left">Phone Number</mat-label>
                                <mat-form-field class="w-full" appearance="outline">
                                    <div class="flex flex-row">
                                        <span class="ml-2">+91 </span>
                                        <input id="phone" [maxLength]="10" pattern="^[0-9]{10}" class=" ml-4" matInput
                                            placeholder="Enter a valid 10 digits phone number" [(ngModel)]="phoneNumber"
                                            [formControlName]="'phone'" (keyup)="phoneChange($event)"
                                            [readonly]="phoneVerification.disablePhoneInput">
                                        <mat-error
                                            *ngIf="infoForm.get('phone')?.hasError('phone')&& infoForm.get('phone')?.touched">Enter
                                            a valid phone Number</mat-error>
                                        <mat-icon *ngIf="phoneVerification.editPhoneAftersubmit" svgIcon="edit"
                                            class="absolute" (click)="editPhonenumber()"
                                            class="mt-1.5 -ml-23"></mat-icon>
                                    </div>
                                </mat-form-field>
                                <div class="w-full text-left">
                                    <mat-error *ngIf="isphoneAuthError"
                                        class="w-full">{{phoneAuthError.message}}</mat-error>
                                </div>
                            </div>
                            <div class="text-center w-full  mt-6 " [hidden]=" phoneVerification.hideSubmitbtn">
                                <button class="mat-stroked-button-large w-full" mat-flat-button [color]="'primary'"
                                    [disabled]="phoneVerification.disableSubmit" type="button" (click)="sendOTP()">
                                    {{phoneVerification.hideResendbtn?'Send OTP':'Resend OTP'}}
                                </button>
                            </div>
                            <div class="w-full">
                                <div [hidden]="phoneVerification.hideVerification" class="sm:ml-0 mt-6">
                                    <div class="verifyButtonPosition">
                                        <mat-form-field class="text-accent-600 sm:w-full xs:w-full xs:pr-1 sm:px-0">
                                            <input id="otp" matInput type="otp" type="text" name="code"
                                                (keyup)="getVerificationCode($event)" placeholder="Enter OTP">
                                            <mat-error>
                                                OTP is required
                                            </mat-error>
                                        </mat-form-field>
                                        <div class="w-full mt-1">
                                            <button class="fuse-mat-stroked-button-large w-max" type="button"
                                                mat-flat-button [color]="'primary'" (click)="verifyPhoneNumber()">Verify
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------------------------------------------->
                    <div class="w-full text-center mt-4">
                        <button type="submit"
                            class=" w-full bg-primary text-white disabled:bg-slate-300 rounded-4xl changeShape"
                            mat-raised-button [color]="'primary'" [disabled]="!infoForm.valid">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>