<div class="input-group-prepend">
    <label for="topic"
        style="font-size: 20px; margin-bottom: 5px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Enter
        Queries</label>
    <input type="text" style=" border-radius:10px; width: 70%; height: 40px; margin-top:20px" id="queries"
        class="form-control" aria-describedby="basic-addon2">

    <button class="btn btn-primary mt-4" style=" border-radius:17px;" (click)="search()">
        search</button>
</div>


<div id="Ans" class="">

</div>

<div id="dd" style="display: none;">

</div>
<div id="sample" style="display: none;"></div>
<div id="sample1" style="display: none;"></div>
