<div class="flex flex-col sm:flex-row items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0">
    <div
        class="my-auto md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

            <div class="w-150 sm:w-50 mx-auto">
                <img class="mx-auto" src="../../assets/istockphoto-1468477683-1024x1024.jpg" width="400px">
            </div>

            <div class="mt-8 text-center text-4xl text-accent-600 font-extrabold tracking-tight leading-tight">Sign in
            </div>

            <div class="mt-2 w-full text-accent-600 text-center ">
                <mat-label class="text-accent-600 text-center ">Phone number</mat-label>
                <div class="d-flex">
                <span class="mt-2.5">{{selectedCountryCode}}</span>
                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="phone" [maxLength]="10" pattern="^[0-9]{10}" matInput
                    placeholder="Enter valid 10 digits phone number"  [(ngModel)]="phoneNumber"
                    (ngModelChange)="onchangePhone()">
                </div>
            </div>

            <div class="mb-1" id="recaptcha-container" [hidden]="captchaHide">
            </div>

            <div class="mb-1" [hidden]="sendOTPBtnHide">
                <div class="mb2 d-flex">
                    <span>
                        <input type="checkbox" [(ngModel)]="consentInput">
                        <small class="text-muted"> By proceeding, I agree to
                            receive notification and communication emails, SMSs, WhatsApp and Telegram messages
                           . You may withdraw your consent at any time.</small>
                    </span>
                </div>

                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="sendOTPBtnTimeDisabled || !consentInput"
                    title="{{sendOTPBtnTimeDisabled?'If you do not receive OTP, click on Resend OTP button after 30 seconds':''}}"
                    (click)="sendLoginCode()">
                    {{resendOTPBtnHide?'Send OTP':'Resend OTP'}}
                </button>
            </div>

            <div  [hidden]="hideVerification" class="mt-6">
                <div class="w-full text-accent-600">
                    <mat-label class="text-accent-600">Enter your Verification Code</mat-label>
                    <input id="otp" matInput type="otp" type="text" name="code" [(ngModel)]="verificationCode">
                    <mat-error>
                        OTP is required
                    </mat-error>
                </div>

                <button class="mt-1 fuse-mat-button-large w-full" mat-flat-button [color]="'primary'"
                    (click)="verifyLoginCode()" [disabled]="disableLoginBtn">Login
                </button>

                <div class="error text-center fw-bold" *ngIf="invalidOTP">Oops!! Invalid OTP, Please enter 6 digits
                    Correct
                    OTP </div>
            </div>
        </div>
    </div>

</div>


