<body style=" height:100%; width: 100%;">


  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark  h-39">
    <div class="container">
      <a class="navbar-brand" href="/" id="myprofileimage"><img class="d-flex mr-3 rounded-circle"
          src="http://placehold.it/50x50" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">



          <li class="nav-item">
            <a class="nav-link" href="/myprofile">Profile</a>
            <p id="myunread" style="color:red;margin-left:35px;height:2px;margin-top:-2px"></p>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="/terminatesession">Terminate session</a>
          </li>



        </ul>
      </div>
    </div>
  </nav>


  <br><br><br>
  <div class="ddff" style="width: 100%;background-color: rgb(144, 144, 214);">

    <table width="850" border="0" align="center">
      <tr>
        <td bgcolor="#FFFFFF" id="gggg">
          <table width="850" border="0" class="bor" style="border-spacing:13px;">
            <tr>
              <td height="60" colspan="2" bgcolor="#FFFFFF">
                <div align="center"><strong>RAVISH KUMAR</strong>
                </div>
              </td>
            </tr>
            <tr class="mt-5">

              <td width="60%">
                <ul style="list-style-type: none;margin: 0;
                padding: 0;">
                  <!-- <li class="hj">
                    Email:{{email}}
                  </li>
                  <li class="hj">
                    Phone no:7026912304
                  </li> -->

                </ul>


              </td>

            </tr>
            <tr class="mt-5" style="margin-top:20px">
              <td colspan="2" bgcolor="#CCCCCC"><strong>ABOUT ME</strong></td>
            </tr>



            <tr>
              <td colspan="2" class="pl-2.5">
                An ambitious, accomplished and dedicated Full Stack Developer with 2 years of experience in building and
                optimizing user-focused websites, applications and business intelligence solutions using wide range of
                programming utilities and languages.
                Expertise in requirements analysis, design, development, testing, maintenance, enhancement, and
                production support of business applications. Knowledgeable of backend and frontend development
                requirements. Collaborative team player with excellent technical abilities, seeking to leverage broad
                development experience and hands-on technical expertise in a challenging role of a reputed organization.

              </td>
            </tr>





            <!-- <tr class="mt-5" style="margin-bottom:20px">
              <td colspan="2" bgcolor="#CCCCCC"><strong>EXPERIENCE</strong></td>
            </tr>
            <tr>
              <td>
                <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                  <p>Company Name</p>
                  <p>:</p>
                  <p>
                    Thinktac Pvt Ltd
                  </p>
                </div>
                <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                  <p>Technologies Worked On</p>
                  <p>:</p>
                  <p>
                    Firebase, NODEJS, ANGULAR JS, AWS S3, Spring Boot, Python, Flask, Docker, Google Cloud
                  </p>
                </div>

                <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                  <p>Date</p>
                  <p>:</p>
                  <p>
                    22 November 2022 to Present
                  </p>
                </div>

                <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                  <p>Key Responsibitites</p>
                  <p>:</p>
                  <p>
                    <li>Built highly interactive web pages using Ajax, JavaScript, and Angular JS, enhancing user
                      experience.</li>
                    <li>Developed front-end applications utilizing HTML, Tailwind, and SCSS, ensuring a seamless user
                      interface.</li>
                    <li>Conducted CRUD operations on Firebase with Angular JS, optimizing data management.</li>
                    <li>Leveraged TypeScript in Angular for efficient data manipulation</li>
                    <li>Collaborated closely with Front-end Architecture counsel to streamline technical team workflows.
                    </li>
                    <li>Led application development and implementation using Angular JS, contributing to project
                      success.
                    </li>
                    <li>Engaged in productive teamwork with developers, designers, and analysts to tackle complex
                      challenges.</li>
                    <li>Extracted text from documents stored in AWS S3 bucket using AWS text-tract, improving data
                      accessibility.</li>
                    <li>Conducted web scraping operations using JSOUP in Java Spring Boot, enriching data sources.</li>
                    <li>Engineered a machine learning model for object state detection using Python and Flask, enhancing
                      functionality.</li>
                    <li>Successfully deployed the machine learning model on Google Cloud Run, leveraging Google Cloud
                      Storage for model training data storage.</li>

                  </p>
                </div>
              </td>
            </tr> -->



            <!-- <tr class="mt-5" style="margin-top:20px">
              <td colspan="2" bgcolor="#CCCCCC"><strong>CAREER OBJECTIVE</strong></td>
            </tr>



            <tr>
              <td colspan="2" style="text-indent:30px;">Aim to be placed in challenging
                organization that gives me scope to update my knowledge &amp; skills in accordance
                with the latest trends and be a part of team that dynamically works towards growth
                of organization.</td>
            </tr> -->
            <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>TECHNICAL SKILLS</strong></td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="831" border="0" align="center">
                  <tr>
                    <ul>
                      <td>
                        <li>Operating System</li>
                      </td>
                      <td><strong>:</strong></td>
                      <td>Windows 7, 10</td>
                    </ul>
                  </tr>
                  <tr>
                    <ul>
                      <td>
                        <li>Programming Languages</li>
                      </td>
                      <td><strong>:</strong></td>
                      <td>JavaScript,Java</td>
                    </ul>
                  </tr>
                  <tr>
                    <ul>
                      <td>
                        <li>Frameworks</li>
                      </td>
                      <td><strong>:</strong></td>
                      <td> Spring, Hibernate,Express</td>
                    </ul>
                  </tr>
                  <tr>
                    <ul>
                      <td>
                        <li>Database</li>
                      </td>
                      <td><strong>:</strong></td>
                      <td>Mongodb, Mysql</td>
                    </ul>
                  </tr>
                  <tr>
                    <ul>
                      <td>
                        <li>IDE</li>
                      </td>
                      <td><strong>:</strong></td>
                      <td>Eclipse, Visual Studio Code</td>
                    </ul>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>FULL STACK PROJECTS</strong></td>
            </tr>
            <tr>
              <td height="17" colspan="2">
                <table width="829" border="0" align="">
                  <tr>
                  </tr>
                  <tr>
                    <td>

                      <div class="dropdown mt-2">
                        <button class="dropdown-btn" (click)="toggleList()" >JavaScript Projects</button>
                        <div class="dropdown-content" [ngClass]="{ 'active': isDropdownActive }">
                          <!-- <div class="dropdown mt-2">
                            <button class="dropdown-btn" (click)="toggleList()">JavaScript Projects</button>
                            <div class="dropdown-content" [ngClass]="{ 'active': isDropdownActive }"> -->
                              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block " [src]="currentImage" alt=""style="width:100%;height:300px">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" (click)="toggleright()" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" (click)="toggleleft()" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a> 
                              </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b>FreeStudyMaterialweb</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              NODEJS (Backend), JAVASCRIPT (Frontend), Clever Cloud (Database)
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>

                              This application is an online portal where students can register themselves, access the
                              study material created by admin and write quiz which is also created by admin of this
                              website.
                              Authentication of every user is mandatory during the registration process. Uploading of
                              study
                              materials in form of pdf files is allowed only for admin. Candidates can also see their
                              result
                              after the quiz and view the solutions of the questions in the quiz. An instant chat app is
                              also present in the application where user can chat and share images with other users.
                              Admin
                              can interact with users through screen sharing and chat application.<br>

                              There is another mini application below. The application is part of the above application
                              but it
                              is hosted in Github. This application contains books and articles . Also admin of the
                              application
                              https://newartilceapp.web.app/ has the power to publish new articles and books in this
                              application
                            </p>
                          </div>

                          <!-- <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/Neweducationworld.com"
                                style="padding: 0px;">https://github.com/rav39439/Neweducationworld.com</a>
                            </p>
                          </div> -->

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Website Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://neweducationworld.onrender.com"
                                style="padding: 0px;">https://neweducationworld.onrender.com</a>
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Article webApp Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://rav39439.github.io/ArticleJavascript.github.io/#"
                                style="padding: 0px;">https://rav39439.github.io/ArticleJavascript.github.io/#</a>
                            </p>
                          </div>


                          <br>
                          <hr>
                          <br>

                          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block " [src]="currentImage1" alt="First slide"style="width:100%;height:300px">
                              </div>
                            </div>
                            <a class="carousel-control-prev" (click)="toggleright1()" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" (click)="toggleleft1()"  role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a> 
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> PromoteYourProduct</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              NODEJS (Backend), JavaScript (Frontend), MONGODB ATLAS (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This application is an online ecommerce platform where admin can login and Post his/her
                              Product. If admin has a product then he can post the details of his product. Admin can
                              also
                              post events to promote his product. The normal users can register themselves in this
                              application with their valid email address. They can view the products of the admin in
                              product
                              section and then they can go through the details of product. Based on the details of the
                              product, they can also place on order for that product. Admin can login to application and
                              accept or decline the order. Users can also view their order status. Connected users can
                              also
                              chat with each other users through text and images
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/myblog"
                                style="padding: 0px;">https://github.com/rav39439/myblog</a>
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Website Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://newblogecomm.onrender.com"
                                style="padding: 0px;">https://newblogecomm.onrender.com</a>
                            </p>
                          </div>


                          <br>
                          <hr>
                          <br>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> OnlineWebLibrary</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              NODEJS (Backend), JavaScript (Frontend), MongoDB (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This application is an Online Library store where admin can add books, register users for
                              library and keep the record of assigned books to users. Admin can collect payment based on
                              per
                              day usage of the book by users. Admin can also filter books by their name and their status
                              (whether assigned or not assigned). Moreover he can also filter the user based on their
                              name
                              and also based on books assigned to them .Hence he can track all the users who have books
                              of
                              library. By using the user’s verified phone numbers and emails admin can follow-up with
                              them.
                              Users can view different books that are not assigned in this application.
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/OnlineNewLibrary"
                                style="padding: 0px;">https://github.com/rav39439/OnlineNewLibrary</a>
                            </p>
                          </div>

                          <br>
                          <hr>
                          <br>
                        </div>
                      </div>

                      <div class="dropdown mt-2" id="hhjjdd2">
                        <button class="dropdown-btn" (click)="toggleList1()">ReactJS Projects</button>
                        <div class="dropdown-content1" [ngClass]="{ 'active1': isDropdownActive1 }">
                          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block " [src]="currentImage2" alt="First slide"style="width:100%;height:300px">
                              </div>
                            </div>
                            <a class="carousel-control-prev" (click)="toggleright2()" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" (click)="toggleleft2()"  role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a> 
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> OnlineEcommerceStore</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              NODEJS (Backend), ReactJS (Frontend), MONGODB (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This application is an online ecommerce platform where admin can login and create an
                              online
                              shop. The admin can then edit, delete and add new products to his shop. The new customers
                              after registering to his websites can view the details of his products and place order for
                              various items in shop. The admin can access the details of his shop by entering his
                              shopperscode in a separate module and then he can view all the order details placed by
                              customers. The admin can then accept or decline the order of the customers based on the
                              details made by them. The customers can also view their order status details in this
                              application
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/Mernnewclient "
                                style="padding: 0px;">https://github.com/rav39439/Mernnewclient</a>
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Website Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://ecommercewebshop.netlify.app"
                                style="padding: 0px;">https://ecommercewebshop.netlify.app</a>
                            </p>
                          </div>
                          <br>
                          <hr>
                          <br>

                          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block " [src]="currentImage3" alt="First slide"style="width:100%;height:300px">
                              </div>
                            </div>
                            <a class="carousel-control-prev" (click)="toggleright3()" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" (click)="toggleleft3()"  role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a> 
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b>StackOverflowClone</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              NODEJS (Backend), ReactJS (Frontend), MONGODB (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This is copy of the project that I have worked on during my internship in NullStack pvt
                              ltd. The application has some key features
                              of Stackoverflow applications and the additional new features that I was given the task to
                              add. The key features
                              were:
                              <li> The application helped the users to post questions and their doubts thereby helping
                                them to communicate with the experts</li>
                              <li> The application helped the experts to view and answer the questions posted by the
                                other users.</li>
                              <li> This application also helped the users to search the questions by making use of the
                                tags on the dashboard.</li>
                              <br>
                              The added features in this application were
                              <li> A chatbot to talk and message to registered experts</li>
                              <li> An otp login using phone number.</li>
                              <li> A feature which can display the current user location on the map</li>
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/Mernnewclient "
                                style="padding: 0px;">https://github.com/rav39439/Mernnewclient</a>
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Website Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://stackoverflowfrontend.netlify.app"
                                style="padding: 0px;">https://stackoverflowfrontend.netlify.app
                              </a>
                            </p>
                          </div>
                          <br>
                          <hr>
                          <br>


                        </div>
                      </div>


                      <div class="dropdown mt-2 " id="hhjjdd1">
                        <button class="dropdown-btn" (click)="toggleList2()">Java and AngularJS Projects</button>
                        <div class="dropdown-content2" [ngClass]="{ 'active2': isDropdownActive2 }">

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> OnlinecourseMangement</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              Java Spring Boot (Backend), Angular JS (Frontend), Clever Cloud (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This application is an online platform for educational institutions to create, store and
                              manage the huge amount of data that is generated during the entire curriculum. The
                              application
                              helps the admin to create, modify and delete the courses for semesters in a college. It
                              also
                              helps the admin to register the students and keep track of their progress. Admin can
                              publish
                              results of the students and also send them news of any upcoming events in college. Student
                              can
                              also login to the application and check their results, registration details and any recent
                              activities in college.
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p class="mb-4 pb-3">
                              <a href=" https://github.com/rav39439/Collegemanagement" style="padding: 0px;">
                                https://github.com/rav39439/Collegemanagement</a>
                            </p>
                          </div>

                          <br>
                          <hr>
                          <br>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> MySharePostApp</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              Java Spring Boot (Backend), Angular JS (Frontend), Clever Cloud (Database), Thymeleaf
                              (template) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This application is a medium for people to connect and share posts. Users can register in
                              this website and search other registered users and connect with them. They can view their
                              private posts and comment on them. Users can post advertisement of their product or any
                              new
                              occasions. They can also share news and events with their connections.
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href=" https://github.com/rav39439/Mynewsharepostapp" style="padding: 0px;">
                                https://github.com/rav39439/Mynewsharepostapp</a>
                            </p>
                          </div>


                          <br>

                          <hr>
                          <br>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> chatBot</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              Angular JS (Frontend), firebase </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This is a chatBot that can answer the questions based on some different topics related to
                              angular , javascript and some Python topics. It is build using javascript and firebase and
                              answers the questions
                              by using the tags in the questions and comparing them to tags inside the answers and gives
                              the correct answer based on
                              the match perecentage.
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/articlesApp" style="padding: 0px;">
                                https://github.com/rav39439/articlesApp</a>
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 45% 30%;">
                            <p>website Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://newartilceapp.web.app/search-queries" style="padding: 0px;">
                                https://newartilceapp.web.app/search-queries</a>
                            </p>
                          </div>



                          <br>

                          <hr>
                          <br>

                        </div>
                      </div>

                      <div class="dropdown mt-2 " id="hhjjdd3">
                        <button class="dropdown-btn" (click)="toggleList3()">Python Projects</button>
                        <div class="dropdown-content3" [ngClass]="{ 'active3': isDropdownActive3 }">
                          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block " [src]="currentImage4" alt="First slide"style="width:100%;height:300px">
                              </div>
                            </div>
                            <a class="carousel-control-prev" (click)="toggleright4()" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" (click)="toggleleft4()"  role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a> 
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b>Object Detection Model</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              Python (Backend), AngularJS (Frontend), Google Cloud (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              This is a simple Object-detection model that is created using keras and tensorFlow. The
                              Model
                              is trained by uploading and feeding images each depicting the state of a particular object
                              and all the images for training
                              are stored in a firebase project in cloud storage. The final trained model has a good
                              accuracy and has the ability to
                              predict correctly the state of the object. The correct prediction of the state can help us
                              to
                              determine whether the experiment will succeed or not.
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/Python_Sample"
                                style="padding: 0px;">https://github.com/rav39439/Python_Sample</a>
                            </p>
                          </div>
                          <br>
                          <hr>
                          <br>
                        </div>
                      </div>


                      <div class="dropdown mt-2 " id="hhjjdd4">
                        <button class="dropdown-btn" (click)="toggleList4()">dotNet Projects</button>
                        <div class="dropdown-content4" [ngClass]="{ 'active4': isDropdownActive4 }">
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                            <p><b>Project Title</b></p>
                            <p>:</p>
                            <p>
                              <b> UserAuthentication</b>
                            </p>
                          </div>
                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Technologies used</p>
                            <p>:</p>
                            <p>
                              DotNet (Backend), MYSQL (Database) </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Project Details</p>
                            <p>:</p>
                            <p>
                              The is a simple API for user Authentication using DOTNet.User can register using his
                              username,email
                              and a password. After registration , he can login using his username and password by
                              generating a token
                              valid upto certain time period. After the token is expired user is logged out and he has
                              to login again.
                            </p>
                          </div>

                          <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                            <p>Github Link</p>
                            <p>:</p>
                            <p>
                              <a href="https://github.com/rav39439/C-Sampleproject "
                                style="padding: 0px;">https://github.com/rav39439/C-Sampleproject</a>
                            </p>
                          </div>
                          <br>
                          <hr>
                          <br>
                        </div>
                      </div>
                      <!-- <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                      <p><b>Project Title</b></p>
                      <p>:</p>
                      <p>
                        <b>FreeStudyMaterialweb</b>
                      </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Technologies used</p>
                      <p>:</p>
                      <p>
                        NODEJS (Backend), JAVASCRIPT (Frontend), Clever Cloud (Database)
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Project Details</p>
                      <p>:</p>
                      <p>
                        This application is an online portal where students can register themselves, access the
                        study material created by admin and write quiz which is also created by admin of this website.
                        Authentication of every user is mandatory during the registration process. Uploading of study
                        materials in form of pdf files is allowed only for admin. Candidates can also see their result
                        after the quiz and view the solutions of the questions in the quiz. An instant chat app is
                        also present in the application where user can chat and share images with other users. Admin
                        can interact with users through screen sharing and chat application.
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Github Link</p>
                      <p>:</p>
                      <p>
                        <a
                          href="https://github.com/rav39439/Neweducationworld.com">https://github.com/rav39439/Neweducationworld.com</a>
                      </p>
                    </div>

                    <br>
                    <hr>
                    <br>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                      <p><b>Project Title</b></p>
                      <p>:</p>
                      <p>
                        <b> PromoteYourProduct</b>
                      </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Technologies used</p>
                      <p>:</p>
                      <p>
                        NODEJS (Backend), JavaScript (Frontend), MONGODB ATLAS (Database) </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Project Details</p>
                      <p>:</p>
                      <p>
                        This application is an online ecommerce platform where admin can login and Post his/her
                        Product. If admin has a product then he can post the details of his product. Admin can also
                        post events to promote his product. The normal users can register themselves in this
                        application with their valid email address. They can view the products of the admin in product
                        section and then they can go through the details of product. Based on the details of the
                        product, they can also place on order for that product. Admin can login to application and
                        accept or decline the order. Users can also view their order status. Connected users can also
                        chat with each other users through text and images
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Github Link</p>
                      <p>:</p>
                      <p>
                        <a href="https://github.com/rav39439/myblog">https://github.com/rav39439/myblog</a>
                      </p>
                    </div>


                    <br>
                    <hr>
                    <br>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                      <p><b>Project Title</b></p>
                      <p>:</p>
                      <p>
                        <b> OnlineWebLibrary</b>
                      </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Technologies used</p>
                      <p>:</p>
                      <p>
                        NODEJS (Backend), JavaScript (Frontend), MongoDB (Database) </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Project Details</p>
                      <p>:</p>
                      <p>
                        This application is an Online Library store where admin can add books, register users for
                        library and keep the record of assigned books to users. Admin can collect payment based on per
                        day usage of the book by users. Admin can also filter books by their name and their status
                        (whether assigned or not assigned). Moreover he can also filter the user based on their name
                        and also based on books assigned to them .Hence he can track all the users who have books of
                        library. By using the user’s verified phone numbers and emails admin can follow-up with them.
                        Users can view different books that are not assigned in this application.
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Github Link</p>
                      <p>:</p>
                      <p>
                        <a
                          href="https://github.com/rav39439/OnlineNewLibrary">https://github.com/rav39439/OnlineNewLibrary</a>
                      </p>
                    </div>

                    <br>
                    <hr>
                    <br> -->



                      <!-- <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                      <p><b>Project Title</b></p>
                      <p>:</p>
                      <p>
                        <b> OnlineEcommerceStore</b>
                      </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Technologies used</p>
                      <p>:</p>
                      <p>
                        NODEJS (Backend), ReactJS (Frontend), MONGODB (Database) </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Project Details</p>
                      <p>:</p>
                      <p>
                        This application is an online ecommerce platform where admin can login and create an online
                        shop. The admin can then edit, delete and add new products to his shop. The new customers
                        after registering to his websites can view the details of his products and place order for
                        various items in shop. The admin can access the details of his shop by entering his
                        shopperscode in a separate module and then he can view all the order details placed by
                        customers. The admin can then accept or decline the order of the customers based on the
                        details made by them. The customers can also view their order status details in this
                        application
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Github Link</p>
                      <p>:</p>
                      <p>
                        <a
                          href="https://github.com/rav39439/Mernnewclient ">https://github.com/rav39439/Mernnewclient</a>
                      </p>
                    </div>
                    <br>
                    <hr>
                    <br> -->


                      <!-- <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                      <p><b>Project Title</b></p>
                      <p>:</p>
                      <p>
                        <b> OnlinecourseMangement</b>
                      </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Technologies used</p>
                      <p>:</p>
                      <p>
                        Java Spring Boot (Backend), Angular JS (Frontend), Clever Cloud (Database) </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Project Details</p>
                      <p>:</p>
                      <p>
                        This application is an online platform for educational institutions to create, store and
                        manage the huge amount of data that is generated during the entire curriculum. The application
                        helps the admin to create, modify and delete the courses for semesters in a college. It also
                        helps the admin to register the students and keep track of their progress. Admin can publish
                        results of the students and also send them news of any upcoming events in college. Student can
                        also login to the application and check their results, registration details and any recent
                        activities in college.
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Github Link</p>
                      <p>:</p>
                      <p>
                        <a href=" https://github.com/rav39439/Collegemanagement">
                          https://github.com/rav39439/Collegemanagement</a>
                      </p>
                    </div>

                    <br>
                    <hr>
                    <br>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">

                      <p><b>Project Title</b></p>
                      <p>:</p>
                      <p>
                        <b> MySharePostApp</b>
                      </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Technologies used</p>
                      <p>:</p>
                      <p>
                        Java Spring Boot (Backend), Angular JS (Frontend), Clever Cloud (Database), Thymeleaf
                        (template) </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Project Details</p>
                      <p>:</p>
                      <p>
                        This application is a medium for people to connect and share posts. Users can register in
                        this website and search other registered users and connect with them. They can view their
                        private posts and comment on them. Users can post advertisement of their product or any new
                        occasions. They can also share news and events with their connections.
                      </p>
                    </div>

                    <div style="display: grid; grid-template-columns: 20% 5% 75%;">
                      <p>Github Link</p>
                      <p>:</p>
                      <p>
                        <a href=" https://github.com/rav39439/Mynewsharepostapp">
                          https://github.com/rav39439/Mynewsharepostapp</a>
                      </p>
                    </div>


                    <br>

                    <hr>
                    <br> -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div class="" id="mmmm">

            <table width="850" border="0">
              <tr>
                <td colspan="2" bgcolor="#CCCCCC"><strong>ACHIVEMENTS</strong></td>
              </tr>
              <tr>
                <td height="17" colspan="2" bgcolor="#FFFFFF">

                  <table width="829" border="0" align="center">
                    <tr>
                      <ul>
                        <td width="513">
                          <li>Prof CN Rao Scholarship for top 20 performance in MBA first, second and third semester
                          </li>
                        </td>
                      </ul>
                    </tr>
                    <tr>
                      <ul>
                        <td>
                          <li>Created an online platform where user can write tests and see their results</li>
                        </td>
                      </ul>
                    </tr>
                  </table>

                </td>
              </tr>

              <tr>
                <td colspan="2" bgcolor="#CCCCCC"><strong>EXTRA CURRICULAR ACTIVITIES</strong></td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="#FFFFFF">

                  <table width="829" border="0" align="center">
                    <tr>
                      <ul>
                        <td width="513"></td>
                      </ul>
                    </tr>
                    <tr>
                      <ul>
                        <td>
                          <li>Qspiders certification on core java and software testing</li>
                        </td>
                      </ul>
                    </tr>
                    <tr>
                      <ul>
                        <td>
                          <li>Uploading study materials for students and conducting online quiz
                            in:https://neweducationworld.herokuapp.com/</li>
                        </td>
                      </ul>
                    </tr>
                    <tr>
                      <ul>
                        <td>
                          <li>Posting advertisements of new products and marketing events
                            on:https://newblogecomm.herokuapp.com and https://mynewsharepostapp.herokuapp.com</li>
                        </td>
                      </ul>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- <tr>
                <td colspan="2" bgcolor="#CCCCCC"><strong>DECLARATION</strong></td>

              </tr>
              <tr>
                <td style="width:80%;float: left;"><strong>All the information above is correct to best of my
                    knowledge</strong></td>
                <td style="width:20%;float:right;"><strong>(Ravish Kumar)</strong></td>
              </tr> -->
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div style="width: 100%; background-color:  rgb(144, 144, 214);;">


  </div>
</body>