<!-- <div style="width: 100%; margin-top: 20px; ">
  <div class="container " style="width: 60%;  margin-bottom:40px; border-radius:12px;">
    <div style="display:grid; grid-template-columns: 60% 20% 20%; gap: 30px;">
      <select name="grade" style=" border-radius:10px;" id="grade" class="form-control" onchange="getTopic(event)">
        <option value="default" selected>---select your level----</option>
        <option value="8">class 8</option>
        <option value="5">class 5</option>
        <option value="9">class 9</option>
        <option value="10">class 10</option>
        <option value="11">class 11</option>
      </select>

      <select name="Subjects" style=" border-radius:10px;" id="Subject" class="form-control" onchange="getTopic(event)">
        <option value="default" selected>---select a subject---</option>

        <option value="All">All</option>

        <option value="History">History</option>
        <option value="Geography">Geography</option>
        <option value="Physics">Physics</option>
        <option value="Technology">Technology</option>
      </select>


      <select name="topicnames" style=" border-radius:10px;" id="topicnames" class="form-control"
        onchange="getTopic(event)">
        <option value="default" selected>---select your topic ----</option>

          <option value="<%= elem.topic %>">
            <%= elem.topic %>
          </option>

      </select>
    </div>

  </div>
  <div id="articles" class=""
    style="width: 100%; display: grid; grid-template-columns: 32% 32% 32%; gap: 15px; margin-left:20px ;">

  </div>
</div> -->
